footer {
  padding: 2rem 3rem;
  text-align: end;
  background-color: var(--color-primary-container);
  color: var(--color-on-primary-container);
  font-size: var(--step-1);
  font-weight: var(--fw-bold);
}
