/* Section: Header */
.header {
  background-color: var(--color-primary-container);
  color: var(--color-on-primary-container);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Element: header__title */
.header__title {
  font-size: var(--step-3);
  margin-bottom: 2rem;
  font-weight: var(--fw-bold);
}

/* Element: Navigation */
.navbar__list {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
  gap: 1rem;
}

.navbar__link {
  position: relative;
  text-decoration: none;
  color: var(--color-on-primary-container);
  position: relative;
  padding: 1rem;
  background-color: var(--color-primary-container);
  border-radius: 2rem;
  /* transition: */
  /*   background-color 0.3s ease-in-out, */
  /*   transform 0.2s ease, */
  /*   box-shadow 0.2s ease; */
}

.navbar__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.2rem;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left center;
  transition: 0.25s ease;
}

.navbar__link:hover::after,
.navbar__link:focus::after {
  transform: scaleX(1);
}

.navbar__cta {
  text-decoration: none;
  color: var(--color-on-primary);
  position: relative;
  padding: 1rem;
  background-color: var(--color-primary);
  border-radius: 2rem;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.navbar__cta:hover {
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
}
