#references {
  background-color: var(--color-surface-bright);
  color: var(--color-on-surface);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
  width: 100%;
  text-align: center;
}
.references__heading {
  font-size: var(--step-2);
  font-weight: var(--fw-bold);
  margin-bottom: 1.5rem;
}

.references__list {
  list-style: none;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
}

.reference-card {
  background-color: var(--color-surface-container-high);
  height: 10rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}
.reference-card:hover,
.reference-card:focus-visible {
  transform: translateY(3px);
}

.reference-card__quote {
  color: var(--color-on-surface-variant);
}

.reference-person {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.reference-person__name {
  font-weight: var(--fw-bold);
}
.reference-person__description {
  font-weight: var(--fw-light);
}
