:root {
  --scale-ratio: 1.25;
  --step-0: 1rem;
  --step-1: calc(var(--step-0) * var(--scale-ratio));
  --step-2: calc(var(--step-1) * var(--scale-ratio));
  --step-3: calc(var(--step-2) * var(--scale-ratio));
  --step-4: calc(var(--step-3) * var(--scale-ratio));
  --step-5: calc(var(--step-4) * var(--scale-ratio));
  --fw-light: 200;
  --fw-regular: 400;
  --fw-bold: 700;
  --lh-base: 1.5;
}
